.my_header,.my_footer{width:100%}
.carousel-control-prev,.carousel-control-next{
    width:2%;
    height:10%;
    top:50%;
    background-color:#aaaaaa;
    border-radius:0.25rem;
}
.carousel-indicators li{
    width:0.4rem;
    height:0.4rem;
    background-color:#ffffff;
    border-radius:50%;
    margin-right:6px;
    margin-left:6px;
}
.carousel-indicators .active{background-color:#007bff}
.my_img{
    width:1400px;
}
.img1{
    width:306px;
    height:146px;
}
.img2{
    width:110px;
    height:80px;
}
